body{
  font-family: 'Press Start 2P', cursive;
}

.vh-60 {
  height: 60vh;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  color:white;
}

.bg-result {
  background: #32363D;
}
#CLIOutputDiv
{
  overflow: scroll;
}